=render "partials/demos/nav"
=center_div do
	.row.top-space.text-left
		=grid xs:10,md:3 do
			%h2.be-normal.no-margin.radius.green-sea.white-text.large-padding Resumen
			.card
				%ul
					%li
						Hoy, 
						=link_to "Examen de cálculo","#",class:"underline"
					%li.top-space
						Mañana hay que entregar
						=link_to "Resumen de la página 23","#",class:"underline"
				
		=grid xs:10,class:"col-md" do
			=render "partials/demos/publish"
