.row.main-cover.middle-xs.center-xs.relative{style:"min-height:80%;"}
	.absolute{style:"top:3em;right:100px"}
		%nav.white-text
			=link_to "Beneficios","#beneficios",class:"slim right-space large-padding border"
			=link_to "Iniciar sesión",new_user_session_path,class:"slim large-padding border"
	=grid xs:10,sm:8,lg:6 do
		%h1.be-big.white-text.bold.no-margin 
			=image_tag "logo.png",width:60
			Classi
		%h2.white-text.slim.no-margin.be-normal
			Organiza tus clases y cursos en un solo lugar, de manera 
			%span.underline.bold simple
		=render "partials/sign_up_form"
.big-top-space#beneficios.text-center
	.row.center-xs
		=grid lg:6,xs:10,sm:8 do
			%h2.be-big.bold.red-text.text-lighten-2 Enamórate de Classi
			=render "partials/benefits"
			.border-top{style:"margin-top:3em;padding-top:2em;border-color:#999;"}
				%p Revisa nuestra clase demo para ver todos los beneficios
				=link_to "Ir al demo",demo_path,class:"btn full-width block red lighten-2 white-text"
.big-top-space.large-padding
