%nav.large-padding.wet-asphalt.white-text.grey-text.text-lighten-3
	.row.middle-xs.center-xs
		=grid xs:6, md:1,class:"first-md text-left" do
			=image_tag "logo.png",height:30
		=grid xs:12,class:"col-md last-xs" do
			=link_to "#",class:"right-space" do
				%i.mi.md-18 home
				Home
			=link_to "#",class:"right-space" do
				%i.mi.md-18 bookmark
				Pines
			=link_to "#",class:"right-space" do
				%i.mi.md-18 book
				Cursos
			=link_to "#",class:"right-space" do
				%i.mi.md-18 message
				Mensajes
		=grid xs:6, md:1,class:"text-right last-md" do
			%i.mi notifications
			%sub 2
		