.row.middle-xs.center-xs
	=grid xs:10,sm:6,class:"text-left col-md" do
		%h2.teal-text.underline ¿Olvidas algo?
		%p.grey-text.text-darken-2.slim 
			Deja que nosotros recordemos todo, diario te mandamos mensajes con 
			%strong todo lo que necesitas saber del día 
			de manera resumida. No volverás a olvidar tareas, material, exámenes, reuniones,
			%strong nada.
		%p Pst... tú configuras qué alertas quieres recibir y nosotros te mandamos solo esas
	=grid xs:10,sm:6 do
		=image_tag "benefits/notifications.png",height:200
.row.middle-xs.center-xs
	=grid xs:10,sm:6 do
		=image_tag "benefits/scores.png",height:200
	=grid xs:10,sm:6,class:"text-left" do
		%h2.teal-text.underline ¿Ya dieron las calificaciones?
		%p.grey-text.text-darken-2.slim 
			En
			%strong Classi
			mejoramos la comunicación del grupo, puedes ver tus calificaciones en tiempo real mientras el tutor/administrador/moderador las sube, incluso puedes configurar
			%strong Classi
			para recibir alertas de nuevas calificaciones en tu peril
		%p La mejor comunicación es instantánea, no vayas, no esperes, recibe tu calificación en cuanto es actualizada.
.row.middle-xs.center-xs
	=grid xs:10,sm:6,class:"text-left" do
		%h2.teal-text.underline Poderosas herramientas de comunicación
		%p.grey-text.text-darken-2.slim 
			Crea grupos internos para equipos de trabajo o amigos. Comparte archivos, realiza búsquedas, guarda mensajes y más con las herramientas de comunicación de
			%strong Classi
			con súper poderes.
		%p.grey-text.text-darken-2.slim Un chat hecho a la medida de tus necesidades
	=grid xs:10,sm:6 do
		=image_tag "benefits/communication.png",height:200
.row.middle-xs.center-xs
	=grid xs:10,sm:6 do
		=image_tag "benefits/dashboard.png",height:200
	=grid xs:10,sm:6,class:"text-left" do
		%h2.teal-text.underline Un feed con toda la información
		%p.grey-text.text-darken-2.slim 
			No te pierdas de nada de lo que pasa en clase, incluso sin estar ahí, el feed del grupo te dice todo, tareas, publicaciones, reuniones, notas, exámenes y más
		%p Lo organizamos y diseñamos para que lo importante esté a tu alcance de manera simple.
.row.middle-xs.center-xs
	=grid xs:10,sm:6,class:"text-left" do
		%h2.teal-text.underline Accede a tus archivos y notas desde donde sea
		%p.grey-text.text-darken-2.slim 
			No importa dónde tengas tu libreta o computadora, tus notas y archivos están a tu alcance desde cualquier equipo o dispositivo con la app.
		%p.grey-text.text-darken-2.slim Los guardamos y sincronizamos en donde tú nos digas
	=grid xs:10,sm:6 do
		=image_tag "benefits/notes.png",height:200
.row.middle-xs.center-xs
	=grid xs:10,sm:6 do
		=image_tag "benefits/integration.png",height:200
	=grid xs:10,sm:6,class:"text-left" do
		%h2.teal-text.underline Integra las apps que ya usas.
		%p.grey-text.text-darken-2.slim 
			Las fechas van en tu calendario, los archivos en tu Dropbox o Google Drive, sincronizamos tus notas con Evernote y más.
		%p
			Tenemos sincronización con más de
			%span.underline 20
			apps.
			=link_to "Revisa la sección de integraciones", "",class:"underline"