%h1.be-big.white-text.bold.no-margin 
	=image_tag "logo.png",width:60
	Classi
%h2.white-text.slim.no-margin.be-normal
	Organiza tus clases y cursos en un solo lugar, de manera 
	%span.underline.bold simple
=render "partials/sign_up_form"