=form_tag "/simple_sign_up", method: :post do
	.row.big-top-space
		=grid xs:10,sm:10,lg:11,class:"no-padding" do
			.form-group.white.large-padding{style:"border-radius:1em 0 0 1em;padding-left:0.5em;"}
				=text_field_tag :email, nil, required:true,class:"full-width white no-border be-normal",placeholder:"Correo electrónico"
		=grid class:"col-xs no-padding text-right" do
			=content_tag :button, type: :submit,class:"teal no-border white-text large-padding full-width",style:"padding-top:13px;padding-bottom:12px;border-radius:0 1em 1em 0" do
				%i.mi send
	%p.be-small.white-text 
		Iniciar con Classi es
		%span.bold gratis 