body{
	background-color:#f2f2f2;
	font-size:15px;
}
.row{ margin-left: 0; }
.row{ margin-right: 0 ; }
.main-cover{
	background:url(<%= asset_path('main-cover.jpg') %>);
	background-size:cover;
}
#beneficios{
	img{
		opacity:0.8;
	}
	
	.row.middle-xs.center-xs{
		h2{font-size:1.2em;}
		margin-top:3em;
	}
}
input:focus{
	outline:none;
}
.card{
	background-color: #fff;
	margin-bottom: 1em;
	padding: 10px;
	overflow: hidden;
}