html,body{
	margin:0px;
	font-family: 'Roboto', sans-serif;
	height:100%,
}
svg{
	fill: currentcolor;
}
.full-height{
	height: 100%;
}
.full-width{
	width: 100%;
}
.hide{
	display:none;
}
.almost-transparent{
	opacity:0.5;
}
.transparent{
  opacity: 0;
}
img{
	max-width:100%;
}
video{
	max-width: 100%;
}
a,a:visited,a:hover{
	text-decoration: none;
	color: inherit;
}
.sigmar-one{
	font-family: 'Sigmar One', cursive;
}
.no-padding{
	padding: 0px !important;
}
.no-padding-large{
	padding-right:0px !important;
	padding-left:0px !important;
}
.small-padding{
	padding: 5px;
}
.large-padding{
	padding: 10px 15px;
}
.medium-padding{
	padding: 1.5em 1em;
}
.big-padding{
	padding: 2em 1.5em;
}
.no-margin{
	margin: 0px !important;
}
.right-space{
	margin-right:1em;
}
.top-space,.field,.actions{
	margin-top: 1em;
}
.big-top-space{
	margin-top: 3.5em;
}
.bigger-top-space{
	margin-top: 400px;	
}
.bottom-space{
	margin-bottom:2.5em;
}
.be-small{
	font-size:12px !important;
}
.be-normal{
	font-size: 1em;
}
.be-medium{
	font-size: 1.3em;
}
.be-tall{
	font-size:2em;
	line-height:1em;
}
.be-big{
	font-size: 3em;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center !important;
}
.text-justify{
	text-align: justify;
}
.absolute{
	position:absolute;
}
.fixed{
	position:fixed;
	width:100%;
}

.relative{
	position:relative;
}
.hidden{
	display:none;
};
.shadow-border{
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}
.form-control.comment{
	border: 4px solid #eee;
	border-radius:5px;
	padding: 10px 10px;	
}
.block{
	display:block;
}
.inline-block{
	display:inline-block; 
}
.inline{
	display:inline;
}
.no-list{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.slim{
	font-weight:200;
}
.normal{
	font-weight: normal;
}
.bold{
	font-weight: 700;
	letter-spacing: 0.1em;
}
.uppercase{
	text-transform:uppercase;
}
.underline{
	text-decoration: underline !important;
}
.white-space{
	white-space: pre-line;
}
.no-border{
	border:none;
}
.border{
	border:solid 1px;
}
.border-bottom{
	border-bottom:solid 1px;	
}
.border-top{
	border-top:solid 1px black;
}
.overflow-hidden{
	overflow:hidden
}
.scroll-y{
	overflow-y:scroll;
}
.scroll-x{
	overflow-x:scroll;
}
.radius{
	border-radius: 4px;
}
.not-active {
   pointer-events: none;
   cursor:not-allowed;
   opacity: 0.2;
}
.pointer{
	cursor:pointer;
}
.capitalize:first-letter {
    text-transform:capitalize;
}